
.yosef-mdc-button{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  background-color:#6200EE;
  color:white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

}
.yosef-mdc-button-outlined{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  background-color:white;
  border-style:solid;
  border-color:#6200EE;
  color:#6200EE;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;

}

/* Upper Part Of The Site
*/
#done_tasks_tab .task_input {
  text-decoration: line-through;
}

.headline {
  text-align: center;
}

.answers_tab {
  padding-top: 1%;
  padding-bottom: 10%;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  text-align: center;
}

#answers {
  padding-left: 6%;
}
.task_value {
  background-color: white;
  border: none;
}
.task_title {
  background-color: white;
  font-weight: bold;
  border: none;
}
.time_box{
  align-items: flex-start;
  margin: 0 1% 0 1%;
  font-style: oblique;
  font-size: smaller;
  display: flex;
  flex-direction: column;
  color: slategrey;
}


/* Lower Part Of The Site
*/
#done {
  padding-top: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
}

.done_head {
  text-align: center;
}

.hide/show_btn {
  margin: 1% 0 1% 0;
}

.task_done {
  width: 100%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.task_done:hover .rmv {
  display: flex;
}

.strike_through {
  text-decoration: line-through;
}

.done_tasks_tab {
  padding-bottom: 10%;
  padding-left: 6%;
  display: block;
}