.body{
margin-left: 20%;
margin-right: 20%;
}
#done_tasks_tab .task_input {
text-decoration: line-through;
}
.headline{
text-align: center;
}
.task_input{
display: inline-grid;
align-content: space-between;
width: 50%;
}
.input_box{
display:flex;

border-style: solid;
text-align:center;
border-style: solid;
}
.input_text_box{
  width: 85%;
  display: inline-grid;
}
.title_input_task{
overflow: hidden;
font-weight: bold;
}

.body_input_task{
overflow: hidden;
}
.task{
display: flex;
margin-bottom: 3%;
}
.visible_task{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
align-items: stretch;
align-content: stretch;
}
.answers_tab{
text-align: center;
border-style: solid;
}
#answers{
padding-left: 6%;
}
.edt{
background-color: rgb(199, 185, 243);
position: relative;
}
.rmv{
color: white;
background-color: red;
display: none;
position: relative;
} 
/* CR - what is rmv? don't save space in your names */
.task:hover .rmv{
display: flex;
}
.hide/show_btn{
margin: 1% 0 1% 0;
}
.task_time{
  margin: 8px;
}
.unchk{
right: 1%;
position: relative;
}
.task_done{
  width: 100%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.task_done:hover .rmv{
display: flex;
}
.strike_through{
text-decoration: line-through;
}
.done_tasks_tab {
  padding-left: 6%;
  display: block;
}
#done{
  border-style: solid;

}
.done_head{
  text-align: center;
}
.task_value{
  border:none;
}

.task_title{
  font-weight: bold;
  border:none;
}